#description {
    padding-top: 30px !important;
}

#model-wrap {
    padding: 12px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(30, 33, 36);
        color: white;
    }

    a, a.hover {
		color: white !important;
	}
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(238, 238, 238);
        color: black;
    }

    a, a:hover{
        color: black;
    }
}

a, a:hover{
	text-decoration: none;
}

#ar-tooltip, #usda{
    margin: 5px;
    font-size: smaller;
}