@media (prefers-color-scheme: dark) {
    body, .accordion-body, .accordion-button, .card{
        background-color: rgb(30, 33, 36);
        color: white;
    }

	img{
		background-color: white;
	}

	.card {
		border-color: gray;
	}
	
	a, a.hover {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
    body{
        background-color: rgb(238, 238, 238);
        color: black;
    }

    a, a:hover{
        color: black;
    }
}

a, a:hover{
	text-decoration: none;
}

[name="brand"]{
    color: white;
}

#navbar-brand, #languageSelector {
	padding-left: 10px;
	padding-right: 10px;
}

[name=exhibits] {
	padding: 10px;
}

.card {
	margin: 10px;
}

.card-img-top {
	margin-top: 12px;
}

[name=navbar] {
	padding-left: 10px;
	padding-right: 10px;
}

#spacer {
	height: 70px;
}

img {
	border-radius: 5px;
}

#footer{
    position: fixed;
    left: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid gray;
    background-color: white;
    color: black;
	z-index: 5;
}